.header {
    position: fixed;
    background: linear-gradient(var(--primary), transparent);
    z-index: 1;
    width: 100%;
    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem 2rem 3rem;
        div{
            .header-logo{
                padding: 0;
                border: none;
                img{
                    transition: transform .5s;
                    width: 90px;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            a{
                color: var(--header);
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                padding: 1rem;
                border: solid 2px transparent;
                border-radius: 2rem;
                &:hover{
                    transition-duration: 1s;
                    border-color: var(--header);
                }
            }
        }
    }
}
