.header {
    position: fixed;
    background: linear-gradient(var(--primary), transparent);
    width: 100%;
    z-index: 1;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem 2rem 3rem;

        img {
            transition: transform .5s;
            max-width: 90px;

            &:hover {
                transform: scale(1.1);
            }
        }

        .menu {
            display: flex;
            align-items: center;
            a {
                color: var(--header);
                font-weight: 500;
                padding: 1rem;
                border: solid 2px transparent;
                border-radius: 2rem;

                &:hover {
                    transition-duration: 1s;
                    border-color: var(--header);
                }
            }
            .switch {
                margin-left: 2rem;
                .react-switch-bg {
                    transition-duration: 2s !important;
                    background-color: var(--secondary) !important;
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            color: var(--primary) !important;
                        }
                    }
                }
                .react-switch-handle {
                    transition-duration: 2s !important;
                }
            }
        }
    }

    a::after {
        content: none;
    }
}
