.container_infoBand {
    overflow: hidden;
    .InfoBand {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 2rem;
        width: 48%;

        .band_description {
            order: 0;
            text-align: right;
            p {
                margin: 0;
                font-size: 1rem;
            }
        }
        .band_image {
            order: 1;
            img {
                width: 150px;
            }
        }
        .band_date {
            order: 2;
            position: relative;
            font-weight: bold;
            white-space: nowrap;
        }
    }

    &.info_on_right {
        display: flex;
        justify-content: right;
        .InfoBand {
            justify-content: left;
            .band_description {
                order: 2;
                text-align: left;
            }
            .band_date {
                order: 0;
                &:before {
                    left: -35px;
                }
            }
        }
    }
}
