.experiences-and-education{
    .items{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 8rem;
        width: 100%;
        .timeline{
            position: absolute;
            width: 6px;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--primary);
            &:before{
                content: '';
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid var(--primary);
            }
        }
        .item{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(0, -50%);
                background-color: var(--primary);
                width: 20px;
                height: 2px;
            }
            a{
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    height: 1px;
                    width: 0;
                    background: var(--link);
                    transition: transform 0.8s, width 0.8s;
                    transform-origin: center;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
        .right:before{
            right: auto;
            left: 50%;
        }
    }
}
