.experiencesAndEducation{
    .infoBands{
        position: relative;
        .timeline{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 99%;
            background-color: var(--light-blue);
            &:before{
                content: '';
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid var(--light-blue);
            }
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid var(--light-blue);
            }
        }
    }
}
