:root {
  --beige: #e9e7e2;
  --light-blue: #afc9e2;
  --blue: #03162a;
}

html{
  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  padding-bottom: 3rem;
  background-color: var(--beige);
  color: var(--blue);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 4rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
h2{
  font-weight: normal;
  margin: 0;
}

span{
  font-size: 1.2rem;
}

p{
  font-size: 1rem;
  margin: 0;
}
